*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#image {
    width: 100px;
    height: auto;
}


main{
    font-family: 'Poppins', sans-serif;
    min-height:100vh;
    background: linear-gradient(to right bottom, #191919, #252525);
    display: flex;
    align-items: center;
    justify-content: center;
}


.glass {

    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(218,165,32,0.4), rgba(255,215,0,0.2));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2rem;
}

.recipe {
    display: grid;
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: row;
    justify-items: center;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gif {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
}

.foodImage {
    width: 10rem;
    height: 8rem;
    object-fit: cover;
    opacity: 0.7;
}
.foodImage:hover {
    opacity: 0.9;
}

h1 {
    font-weight:600;
    font-size: 4rem;
    opacity: 0.6;
    color: #black;
}

.giphy {
    padding-bottom: 2rem;
}

.chop {
    opacity: 0.6;
    font-style: italic;
}

.recipe{
    font-weight: 200;
    font-size: 1.5rem;
    font-style: black;
}

a:link {
    text-decoration: none;
    color:black;
    opacity: 0.7;
}
a:visited {
    text-decoration: none;
    color:black;
    opacity: 0.7;
}
a:hover {
    text-decoration: wavy;
    color:black;
    opacity: 0.7;
}
a:active {
    text-decoration: none;
    color:black;
    opacity: 0.7;
}


/*food recipes*/

.foodContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center; 
    background: linear-gradient(to right bottom, rgba(218,165,32,0.1), rgba(255,215,0,0.1));
    border-radius: 2rem;
    min-width: 20vw;
}

.foodContentTwo {
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.recipeImage {
    width: 20rem;
    height: 18rem;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 2rem;
}

.description {

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5vh;
}

.homeButton {
    background-color: rgba(0,0,0,0.3); /* Blue background */
    border: none; /* Remove borders */
    color: rgba(0,0,0, 0.9); /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 1.5rem; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    width: 20%;
    font-weight: 700;
}


.homeButton:hover {
    background-color: rgba(0,0,0,0.2);
    color:rgba(0,0,0,0.5);
}